section{
    width: 99vw;
    height: 95vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appointment-form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input, select, textarea{
    width: 30%;
}
button{
    width: 100px;
}


body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#f9c5d1,#fbc2eb);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

form{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    margin-bottom:20px;
}

input, select, textarea{
    width:250px;
    padding:8px;
    margin:8px 0;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    background:#ff4b8b;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#ff2e73;
}

.back-btn{
padding:8px 20px;
background:#555;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.back-btn:hover{
background:#333;
}
